<div class="tasks-container">
  <h2>Assigned Tasks</h2>
  <div *ngIf="tasks.length === 0">No tasks assigned.</div>
  <ul>
    <li *ngFor="let task of tasks">
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <p><strong>Due Date:</strong> {{ task.dueDate | date }}</p>
      <p><strong>Status:</strong> {{ task.status }}</p>
      <div *ngIf="userRole == 'Dev'">
        <label >Status:</label>
        <select [(ngModel)]="task.status" (change)="updateTaskStatus(task)">
          <option value="Pending">Pending</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
        </select>
      </div>

      <button (click)="deleteTask(task._id)">Delete</button>
    </li>
  </ul>
</div>
