
<router-outlet *ngIf="WithSideBar(currentUrl)"></router-outlet>


<div *ngIf="!WithSideBar(currentUrl)"  style="display:flex;height: 100%;width:100%" class="layout  has-sidebar fixed-sidebar fixed-header">
  <aside id="sidebar" class="sidebar break-point-sm has-bg-image" >
    <a id="btn-collapse" class="sidebar-collapser"><i class="fa fa-solid fa-compass"></i></a>
    <div class="image-wrapper">
      <img src="assets/images/sidebar-bg.jpg" alt="sidebar background" />
    </div>
    <div class="sidebar-layout">
      <div class="sidebar-header">
        <div class="pro-sidebar-logo">
          <div>P</div>
          <h5>Project Management</h5>
        </div>
      </div>
      <div class="sidebar-content">
        <nav class="menu open-current-submenu">
          <ul>
            <li class="menu-header"><span> GENERAL </span></li>
            <li class="menu-item sub-menu">
              <a routerLink="/dashboard" >
                    <span class="menu-icon">
                      <i class="fa fa-solid fa-chart-pie"></i>
                    </span>
                <span class="menu-title" >Dashboard</span>
                <span class="menu-suffix">
                      <span class="badge primary" *ngIf="userRole == 'Admin'" >Admin</span>
                    </span>
                <span class="menu-suffix">
                      <span class="badge bg-success" *ngIf="userRole == 'TeamLeader'">Teamleader</span>
                    </span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Grid</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Layout</span>
                    </a>
                  </li>
                  <li class="menu-item sub-menu">
                    <a href="#">
                      <span class="menu-title">Forms</span>
                    </a>
                    <div class="sub-menu-list">
                      <ul>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Input</span>
                          </a>
                        </li>
                        <li class="menu-item">
                          <a href="#">
                            <span class="menu-title">Select</span>
                          </a>
                        </li>
                        <li class="menu-item sub-menu">
                          <a href="#">
                            <span class="menu-title">More</span>
                          </a>
                          <div class="sub-menu-list">
                            <ul>
                              <li class="menu-item">
                                <a href="#">
                                  <span class="menu-title">CheckBox</span>
                                </a>
                              </li>
                              <li class="menu-item">
                                <a href="#">
                                  <span class="menu-title">Radio</span>
                                </a>
                              </li>
                              <li class="menu-item sub-menu">
                                <a href="#">
                                  <span class="menu-title">Want more ?</span>
                                  <span class="menu-suffix">&#x1F914;</span>
                                </a>
                                <div class="sub-menu-list">
                                  <ul>
                                    <li class="menu-item">
                                      <a href="#">
                                        <span class="menu-prefix">&#127881;</span>
                                        <span class="menu-title">You made it </span>
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a routerLink="/chat">
                    <span class="menu-icon">
                      <i class="fa fa-comments "></i>
                    </span>
                <span class="menu-title">Chats</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Pie chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Line chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Bar chart</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a routerLink="/projects">
                    <span class="menu-icon">
                 <i class="fa fa-solid fa-list-ul"></i>
                    </span>
                <span class="menu-title">Projects list</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Pie chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Line chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Bar chart</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a routerLink="/addProject">
                    <span class="menu-icon">
                 <i class="fa fa-solid fa-plus"></i>
                    </span>
                <span class="menu-title">AddProject</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Pie chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Line chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Bar chart</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu">
              <a routerLink="/tasks" (click)="clearNotification()">
                    <span class="menu-icon">
                 <i class="fa bi-card-checklist"></i>
                    </span>
                <span class="menu-title" *ngIf="userRole == 'Dev'">My tasks</span>
                <span class="menu-title" *ngIf="userRole == 'TeamLeader'">Assigned Tasks</span>
                <span class="menu-title" *ngIf="userRole == 'Admin'">All tasks</span>
                <span class="menu-suffix" *ngIf="newTaskNotification">
      <span class="badge bg-danger text-white" >New Task Available!</span>
    </span>

              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Pie chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Line chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Bar chart</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item sub-menu"  *ngIf="userRole == 'TeamLeader'">
              <a routerLink="/addtask">
                    <span class="menu-icon">
                 <i class="fa bi-plus-circle-fill"></i>
                    </span>
                <span class="menu-title">Add Task</span>



              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Pie chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Line chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Bar chart</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="menu-header" style="padding-top: 20px"><span> Profile </span></li>
            <li class="menu-item">
              <a href="#">
                    <span class="menu-icon">
                          <i class="fa fa-solid fa-user"></i>
                    </span>
                <span class="menu-title">Edit Profile</span>

              </a>
            </li>
            <li class="menu-item sub-menu">
              <a routerLink="/users">
                    <span class="menu-icon">
<i class="bi bi-people"></i>
                    </span>
                <span class="menu-title">Users</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Pie chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Line chart</span>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="#">
                      <span class="menu-title">Bar chart</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="menu-item">
              <a href="#">
                    <span class="menu-icon">
                          <i class="fa fa-solid fa-door-closed"></i>
                    </span>
                <span class="menu-title">Logout</span>
                <span class="menu-suffix">
                      <span class="badge secondary">>></span>
                    </span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="sidebar-footer">
<!--        <div class="footer-box">-->
<!--          <div>-->
<!--            <img-->
<!--              class="react-logo"-->
<!--              src="https://user-images.githubusercontent.com/25878302/213938106-ca8f0485-3f30-4861-9188-2920ed7ab284.png"-->
<!--              alt="react"-->
<!--            />-->
<!--          </div>-->
<!--          <div style="padding: 0 10px">-->
<!--                <span style="display: block; margin-bottom: 10px"-->
<!--                >Pro sidebar is also available as a react package-->
<!--                </span>-->
<!--            <div style="margin-bottom: 15px">-->
<!--              <img-->
<!--                alt="preview badge"-->
<!--                src="https://img.shields.io/github/stars/azouaoui-med/react-pro-sidebar?style=social"-->
<!--              />-->
<!--            </div>-->
<!--            <div>-->
<!--              <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank"-->
<!--              >Check it out!</a-->
<!--              >-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </aside>
  <div id="overlay" class="overlay"></div>
  <div class="layout">
    <main class="content" *ngIf="!WithSideBar(currentUrl)" style="    overflow-y: auto;height: 100%; ">
     <router-outlet></router-outlet>
    </main>
    <div class="overlay"></div>
  </div>
</div>






























