
<div class="area">
  <router-outlet></router-outlet>
</div>
<nav class="main-menu" >
  <ul>
    <li>
      <h1 class="text">
        <span class="letter letter-1">P</span>
        <span class="letter letter-3">R</span>
        <span class="letter letter-2">O</span>
        <span class="letter letter-4">j</span>
        <span class="letter letter-4">E</span>
        <span class="letter letter-4">C</span>
        <span class="letter letter-4">T</span>
        <span class="letter letter-5"> </span>
        <span class="letter letter-4">-</span>
        <span class="letter letter-5"> </span>
        <span class="letter letter-4">M</span>
        <span class="letter letter-4">A</span>
        <span class="letter letter-4">G</span>
      </h1>
    </li>
    <li>
      <a href="https://jbfarrow.com">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
            Community Dashboard
          </span>
      </a>
    </li>
    <br>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-globe fa-2x"></i>
        <span class="nav-text">
            Global Surveyors
          </span>
      </a>

    </li>
    <br>

    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-comments fa-2x"></i>
        <span class="nav-text">
            Group Hub Forums
          </span>
      </a>

    </li>
    <br>
    <li class="has-subnav">
      <a href="#">
        <i class="fa fa-camera-retro fa-2x"></i>
        <span class="nav-text">
            Survey Photos
          </span>
      </a>

    </li>
    <br>
    <li>
      <a href="#">
        <i class="fa fa-film fa-2x"></i>
        <span class="nav-text">
            Surveying Tutorials
          </span>
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fa fa-book fa-2x"></i>
        <span class="nav-text">
            Surveying Jobs
          </span>
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fa fa-cogs fa-2x"></i>
        <span class="nav-text">
            Tools & Resources
          </span>
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fa fa-map-marker fa-2x"></i>
        <span class="nav-text">
            Member Map
          </span>
      </a>
    </li>
    <br>
    <li>
      <a href="#">
        <i class="fa fa-info fa-2x"></i>
        <span class="nav-text">
            Documentation
          </span>
      </a>
    </li>
  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">
            Logout
          </span>
      </a>
    </li>
  </ul>
</nav>
