<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
      <div class="card shadow mb-2" style="height: 105px; align-items: center;">
        <h3 style="padding: 27px" class="text-dark mb-4">Inactive Users</h3>
      </div>
      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text m-0 fw-bold">Inactive Users</p>
        </div>
        <div class="card-body">
          <!-- Search Bar -->
          <div class="row">
            <div class="col-md-6">
              <div class="text-md-end dataTables_filter" id="dataTable_filter">
                <label class="form-label">
                  <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" />
                </label>
              </div>
            </div>
          </div>

          <!-- Users List -->
          <div *ngIf="inactiveUsers.length === 0">
            <h2>No inactive users found!</h2>
          </div>
          <div *ngIf="inactiveUsers.length > 0">
            <ul class="list-group">
              <li *ngFor="let user of inactiveUsers" class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                  <strong>{{ user.name }}</strong><br>
                  <small>{{ user.email }}</small>
                </div>
                <button  class="btn"
                         [ngClass]="user.isActivated ? 'btn-danger' : 'btn-success'"
                         (click)="toggleActivation(user._id)">
                  {{ user.isActivated ? 'Deactivate' : 'Activate' }}
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
