<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
      <div class="card shadow mb-2" style="height: 90px; align-items: center;">
        <h3 style="padding: 27px" class="text-dark mb-4">Dashboard</h3>
      </div>
      <div class="card shadow" style="height: fit-content">
        <div class="card-header py-3">
          <p class="text m-0 fw-bold">Data</p>
        </div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                          <span>Total Projects:</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>{{ totalProjects }}</span>

                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-asterisk fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-success fw-bold text-xs mb-1">
                          <span>Pending projects </span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">

                          <span>{{ pendingPercentage }}%</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-pause fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-info fw-bold text-xs mb-1" style="font-size: 14px">
                          <span>In Progress projects:</span>
                        </div>
                        <div class="row g-0 align-items-center">
                          <div class="col-auto">
                            <div class="text-dark fw-bold h5 mb-0 me-3">
                              <span>{{ inProgressPercentage }}%</span>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas bi-graph-up-arrow fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-info fw-bold text-xs mb-1">
                          <span>Completed projects:</span>
                        </div>
                        <div class="row g-0 align-items-center">
                          <div class="col-auto">
                            <div class="text-dark fw-bold h5 mb-0 me-3">
                              <span>{{ completedPercentage }}%</span>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas bi-check-all fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-success fw-bold text-xs mb-1">
                          <span>Total tasks:</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>{{ totaltask }}</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas bi-card-checklist fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-success fw-bold text-xs mb-1">
                          <span>To do tasks:</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>{{ ToDotasks }}%</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas bi-file-arrow-up fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-info fw-bold text-xs mb-1">
                          <span>InProgress Tasks </span>
                        </div>
                        <div class="row g-0 align-items-center">
                          <div class="col-auto">
                            <div class="text-dark fw-bold h5 mb-0 me-3">
                              <span>{{ inProgresstasks }}%</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas bi-stopwatch fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-warning py-2">
                  <div class="card-body">
                    <div class="row align-items-center no-gutters">
                      <div class="col me-2">
                        <div class="text-uppercase text-warning fw-bold text-xs mb-1">
                          <span>Completed tasks</span>
                        </div>
                        <div class="text-dark fw-bold h5 mb-0">
                          <span>{{ completedtasks }} %</span>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas bi-check2-circle fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div #gantt_here style="width: 100%; height: 500px;"></div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


