<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
      <div class="card shadow mb-2" style="height: 105px; align-items: center;">
        <h3 style="padding: 27px" class="text-dark mb-4">Projects</h3>
      </div>
      <div class="card shadow">
        <div class="card-header py-3">
          <p class="text m-0 fw-bold">Projects</p>
        </div>
        <div class="card-body">
          <!-- Add Row for Search and Records Per Page -->
          <div class="row">
            <div class="col-md-6 text-nowrap">
              <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                <label class="form-label">
                  Show&nbsp;
                  <select class="d-inline-block form-select form-select-sm" [(ngModel)]="recordsPerPage" (change)="onRecordsPerPageChange(recordsPerPage)">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>&nbsp;
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-md-end dataTables_filter" id="dataTable_filter">
                <label class="form-label">
                  <input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" />
                </label>
              </div>
            </div>
          </div>

          <!-- Table Content -->
          <div class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <div *ngIf="projects.length === 0">
              <h2>No projects found!</h2>
            </div>
            <div *ngIf="projects.length > 0">
              <table class="table my-0" id="dataTable" style="background: transparent">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                  <td>{{ project._id }}</td>
                  <td>{{ project.name }}</td>
                  <td>{{ project.status }}</td>
                  <td>
                    <a class="btn btn-primary" [routerLink]="['/projects/update/', project._id]" >
                      <i class="fas fa-edit"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-danger"  (click)="deleteProject(project._id)">
                      <i class="fas fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
                </tbody>
                <tfoot>

                </tfoot>
              </table>
            </div>
          </div>

          <!-- Pagination -->
          <div class="row">
            <div class="col-md-6 align-self-center">
              <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                Showing {{(currentPage - 1) * recordsPerPage + 1}} to
                {{ Math.min(currentPage * recordsPerPage, totalRecords) }} of {{ totalRecords }}
              </p>
            </div>
            <div class="col-md-6">
              <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                <ul class="pagination">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" aria-label="Previous" href="#" (click)="onPageChange(currentPage - 1)">
                      <span aria-hidden="true">«</span>
                    </a>
                  </li>
                  <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="currentPage === i + 1">
                    <a class="page-link" href="javascript:void(0)" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
                  </li>
                  <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <a class="page-link" aria-label="Next" href="javascript:void(0)" (click)="onPageChange(currentPage + 1)">
                      <span aria-hidden="true">»</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
